<html>
	<head>
		<title>This shows up in the top of the browser</title>
	</head>
	<body>
		This is <b>my</b> webpage!  My name is <%= @me %>.<br/>
		<img src="images/mario.jpg"></img>
		<p>You can break up words in a web page with paragraph tags.  This is paragraph 1.</p>
		<p>And this is paragraph 2. Wrapping blocks of words (sentences) in paragraph tags makes sure there is enough space between that block and whatever is around it to stand out as a clear separation.</p>
		<p>HTML lets you change the appearance of text (words) with other tags like the <b>bold</b> tag, and the <u>underline</u> tag.  You can even make words appear <i>italicized</i>.  Sometimes, you want to group lots of similar things together, which is where tables come in handy.</p>
		<p>A table is an HTML element that lets you organize words or pictures in sets of rows and columns (just like desks may be organized in a classroom -- or at least how they were when I was a kid &#9786; -- Oops, what was that smiley face?  That is called an HTML entity.  There are all kinds of special symbols that you can display in html.  <a href="http://www.mistywindow.com/reference/html-characters.htm">This page</a> is a pretty good reference for them).  Now, about tables...</p>
		<p>Tables have rows and columns of "boxes" (though most folks call those boxes "cells").  Here is an example of a table.</p>
		<table border="1" cellspacing="3" cellpadding="3">
			<tr>
				<td>This</td>
				<td>is</td>
				<td>a</td>
				<td>table</td>
			</tr>
			<tr>
				<td>It</td>
				<td>has</td>
				<td>three</td>
				<td>rows</td>
			</tr>
			<tr>
				<td>And</td>
				<td>four</td>
				<td>columns</td>
				<td>&#9786;</td>
			</tr>
		</table>
	</body>
</html>